@import '../../styles/styles.scss';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;  // Pour centrer verticalement
    margin: 1rem 3rem;

    .logo {
        img {
            width: 70%; // Le logo prend 25% de la largeur du header
            height: auto; // Garde les proportions du logo
        }
    }

    nav {
        display: flex;
        align-items: center;
        gap: 57px;

        a {
            font-weight: 500;
            font-size: 24px;

            &:hover {
                text-decoration: underline;
            }
        }

        .underlined {
            text-decoration: underline;
        }

        .no-underline {
            text-decoration: none;
        }
    }
}

@media (max-width:724px) {
    header {
        margin: 1rem 3rem;

        nav {
            gap: 20px;

            a {
                text-transform: uppercase;
                font-size: 12px;
            }
        }
    }
}
