@import '../../Styles/styles.scss';

.annonce-preview {
    
    height: 340px;

    article {
        background-size: cover;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: end;
        padding: 1rem;

        h2 {
            color: $white;
            font-size: 18px;
        }
    }
    
}

@media (max-width: 1024px){
    .annonce-preview {
        height: 300px;
    }
}

@media (max-width:724px) {
    .annonce-preview {
        height: 225px;
    }
}